{{#each usuarios}}
  <div class='card mt-4'>
    <div class='card-body'>
      <h4>{{nome}}</h4>
      <p>Decrição: {{nome}}</p>
    </div>
  </div>

{{else}}

  <p>Não existem usuários here</p>

{{/each}}